{% extends 'base.html.twig' %}

{% block title %}Editează Comandă{% endblock %}

{% block body %}
    <h1>Editează Comandă</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <datalist id="parc_auto_list">
            {% for parc_auto in app.parc_auto_list %}
                <option value="{{ parc_auto.nrAuto }}">{{ parc_auto.nrAuto }}</option>
            {% endfor %}
        </datalist>
        <button type="submit" class="btn btn-primary">Salvează</button>
    {{ form_end(form) }}
{% endblock %}