{% extends 'base.html.twig' %}

{% block title %}Adaugă Intrare Casa Expediții{% endblock %}

{% block body %}
    <div class="form-container shadow-sm rounded-3 bg-white p-4" style="max-width: 600px; margin: 0 auto;">
        <h1 class="text-center mb-4">Adaugă Intrare Casa Expediții</h1>
        {{ form_start(form) }}
            <div class="row g-3 align-items-center">
                <div class="col-md-6">
                    {{ form_label(form.numeClient, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.numeClient, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.nrComandaClient, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nrComandaClient, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.pretClient, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.pretClient, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.numeTransportator, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.numeTransportator, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.pretTransportator, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.pretTransportator, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.nrComandaTransportator, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nrComandaTransportator, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.scadenta, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.scadenta, {'attr': {'class': 'form-control datepicker'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.data_platii, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.data_platii, {'attr': {'class': 'form-control datepicker'}}) }}
                </div>
            </div>
            <div class="button-group mt-4 d-flex justify-content-between">
                <a href="{{ path('app_casa_expeditii_index') }}" class="btn btn-secondary">Înapoi la listă</a>
                <button type="submit" class="btn btn-primary">Salvează</button>
            </div>
        {{ form_end(form) }}
    </div>

    <style>
        .form-control {
            height: 38px;
        }
        .form-label {
            margin-bottom: 0.25rem;
        }
        .align-items-center {
            align-items: center;
        }
    </style>
{% endblock %}