{% extends 'base.html.twig' %}

{% block title %}Adaugă Tur{% endblock %}

{% block body %}
    <h1>Adaugă Tur pentru Comanda #{{ comanda.id }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Salvează</button>
    {{ form_end(form) }}
    <a href="{{ path('app_comenzi_show', {'id': comanda.id}) }}" class="btn btn-secondary">Înapoi la detalii</a>
{% endblock %}