{% extends 'base.html.twig' %}

{% block title %}Adaugă Consumabil{% endblock %}

{% block body %}
    <div class="form-container shadow-sm rounded-3 bg-white p-4" style="max-width: 600px; margin: 0 auto;">
        <h1 class="text-center mb-4">Adaugă Consumabil</h1>
        {{ form_start(form) }}
            <div class="row g-3 align-items-center">
                <div class="col-md-6">
                    {{ form_label(form.nume, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nume, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.pret_maxim, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.pret_maxim, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.km_utilizare_max, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.km_utilizare_max, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="button-group mt-4 d-flex justify-content-between">
                <a href="{{ path('app_consumabile_index') }}" class="btn btn-secondary">Înapoi la listă</a>
                <button type="submit" class="btn btn-primary">Salvează</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}